<div class="container-fluid">.
    <div class="row" id="topRow">    
        <div class="my-tooltip">
            <img class="new-chat-icon" src="../../assets/images/NewChat.png"/>
            <span class="tooltip-text">New Chat</span>
        </div>
    </div>
    <div class="row chats">
        <div class="col-2">
            <img class="profile-picture" src="../../assets/images/DefaultProfilePic.jpg">
        </div>
        <div class="col-8">
            <div class="username">
                <span>Username</span>
                <!-- Make text bold when message is unread -->
            </div>
            <div class="last-message">
                <span>last message</span>
            </div>
        </div>
        <div class="col-2">
            <div class="last-message-time">
                <span>00:00</span>
            </div>
            <div class="message-unread">
                <span class="dot"></span>
            </div>
        </div>
    </div>
    <div class="row chats">
        <div class="col-2">
            <img class="profile-picture" src="../../assets/images/DefaultProfilePic.jpg">
        </div>
        <div class="col-8">
            <div class="username">
                <span>Username</span>
                <!-- Make text bold when message is unread -->
            </div>
            <div class="last-message">
                <span>last message</span>
            </div>
        </div>
        <div class="col-2">
            <div class="last-message-time">
                <span>00:00</span>
            </div>
            <div class="message-unread">
                <span class="dot"></span>
            </div>
        </div>
    </div>
</div>