.container-fluid {
    border-right-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    height: 100vh;
    background-color: whitesmoke;
}

.row {
    margin-left: -14%;
    width: 123%;
    height: 40px;
}

.new-chat-icon {
    margin-top: -20px;
    margin-left: 270px;
    width: 30px;
    border-radius: 40%;
}

.new-chat-icon:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.my-tooltip span {
    opacity: 0;
    position: absolute;
    left: 9px;
    margin: 1px;
    margin-left: 245px;
    background-color: white;
    border: 1px;
    border-color: black;
    border-style: solid;
    font-size: 12px;
}

.my-tooltip:hover span {
    opacity: 1;
    transition-delay: 0.5s;
    display: block;
}

.tooltip-text {
    padding-top: 0px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
}

#topRow {
    border-bottom: 1px lightgray solid;
    height: 30px !important;
}

.chats {
    background-color: white;
    border-bottom: 1px lightgray solid;
    height: 70px;
}

.profile-picture {
    margin-top: 5px;
    width: 60px;
    margin-left: -5px;
    border-radius: 50%;
}

.username {
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 500;
}

.last-message {
    font-size: 12px;
    margin-left: 5px;
    margin-top: 2px;
    color: grey;
}

.last-message-time {
    font-size: 12px;
    margin-top: 13px;
}

.dot {
    margin-top: 3px;
    margin-left: 5px;
    width: 17px;
    height: 17px;
    background-color: darkcyan;
    border-radius: 50%;
    display: inline-block;
}

#searchBar {
    margin-top: 5px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

#searchBar:focus {
    border-bottom: 2px grey solid;
}

#searchIcon {
    margin-top: 9px;
    margin-left: 10px;
    width: 15px;
}

#searchIcon:hover {
    cursor: pointer;
}

.search-tooltip span {
    opacity: 0;
    position: absolute;
    left: 9px;
    margin-top: 15px;
    background-color: white;
    border: 1px;
    border-color: black;
    border-style: solid;
    font-size: 12px;
}

.search-tooltip:hover span {
    opacity: 1;
    transition-delay: 0.5s;
    display: block;
}

.loader {
    margin-top: 5px;
    margin-left: 105px;
    border: 8px solid whitesmoke;
    border-top: 8px solid darkcyan;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.user-not-found {
    font-size: 12px;
    color: red;
}

#searchDot {
    margin-top: 28px;
}

#searchRow {
    border-top: solid 1px lightgrey;
}