<div class="container-fluid">.
    <div class="row" id="topRow">
        <div class="my-tooltip" (click)="this.AddNewChatNavbar()">
            <img class="new-chat-icon" src="../../assets/images/NewChat.png"/>
            <span class="tooltip-text">New Chat</span>
        </div>
    </div>
    <div [hidden]="this.addNewChat" class="row chats" *ngFor="let chat of chats">
        <div class="col-2">
            <img class="profile-picture" src="../../assets/images/DefaultProfilePic.jpg">
        </div>
        <div class="col-8">
            <div class="username">
                <span>{{this.GetRecipient(chat)}}</span>
            </div>
            <div class="last-message">
                <span>{{ this.GetLastMessage(chat) }}</span>
            </div>
        </div>
        <div class="col-2">
            <div class="last-message-time">
                <span>{{ this.GetLastTime(chat) }}</span>
            </div>
            <div class="message-unread">
                <span class="dot"></span>
            </div>
        </div>
    </div>
    <div [hidden]="!this.addNewChat">
        <div class="row" id="searchRow">
            <div class="col-1">
                <img id="backIcon" src="../../assets/images/BackIcon.png" (click)="this.OnBack()">
            </div>
            <div class="col-10" [formGroup]="searchUser">
                <input placeholder="Find Username" id="searchBar" type="text" formControlName="username">
            </div>
            <div class="col-1 search-tooltip">
                <img id="searchIcon" src="../../assets/images/SearchIcon.png" (click)="this.OnSearch()">
                <span class="tooltip-text">Search</span>
            </div>
        </div>
        <div class="loader" [hidden]="!this.loading"></div>
        <div class="user-found" [hidden]="this.userNotFound || this.loading">
            <div class="row chats" id="searchRow" (click)="this.OnAddChat()">
                <div class="col-2">
                    <img class="profile-picture" src="../../assets/images/DefaultProfilePic.jpg">
                </div>
                <div class="col-8">
                    <div class="username">
                        <span>{{this.userFound.username}}</span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="message-unread">
                        <span id="searchDot" class="dot"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-not-found" [hidden]="this.searchNotFailed">user not found, please try again</div>
    </div>
</div>