.container-fluid {
    height: 100vh;
    background-color: white;
}

#chatArea {
    background-image:url('../../assets/images/WhatsappLogo.png');
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center 0%;
}